ANSWER 1-

In [59]:
import re

In [60]:
a = 'Python Exercises, PHP exercises.'

In [61]:
print(re.sub("[ ,.]",":", a))

Python:Exercises::PHP:exercises:

ANSWER 2-

In [67]:
import pandas as pd
import re

In [68]:
Dictionary= {'SUMMARY':['hello, world!', 'XXXXX test', '123four, five:; six...']}

In [69]:
df= pd.DataFrame(Dictionary)
df['SUMMARY'] = df['SUMMARY'].apply(lambda x: re.sub(r'[^A-Za-z\s]|XXXXX','', x))

In [70]:
df

         SUMMARY
0    hello world
1           test
2  four five six

ANSWER 3-

In [71]:
import re

In [72]:
def data(string):  
    pattern = re.compile(r'\b\w{4,}\b')
    matches = pattern.findall(string)
    return matches

In [73]:
string = " This test is done to get words of four and more length "       #testing
a = data(string)

In [74]:
a

['This', 'test', 'done', 'words', 'four', 'more', 'length']

ANSWER 4-

In [75]:
import re

In [76]:
def inputfun(str):
    input = re.compile(r'\b\w{3,5}\b')
    find = input.findall(str)
    return find

In [77]:
xyz = "aa aaa aaaa aaaaa bbb bbbbb bbbbbb ddd klm"           #testing
x = inputfun(xyz)

In [78]:
x

['aaa', 'aaaa', 'aaaaa', 'bbb', 'bbbbb', 'ddd', 'klm']

ANSWER 5-

In [79]:
import re

In [80]:
def removePara(strings):
    pattern = re.compile (r'\(|\)')
    replace = [pattern.sub('',s) for s in strings]
    return replace

In [81]:
Sample_Text = ["example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected_output = removePara(Sample_Text)

In [82]:
Expected_output

['example.com',
 'hr@fliprobo.com',
 'github.com',
 'Hello Data Science World',
 'Data Scientist']

ANSWER 6-

In [30]:
import re

In [31]:
with open('sample.txt', 'r') as file:
    data = file.read()

In [32]:
New_data = re.sub(r'\([^()]*\)', "", data)

In [33]:
with open('sample.txt', 'w') as file:
    file.write(New_data)

In [34]:
data

'["example", "hr@fliprobo", "github", "Hello", "Data"]'

ANSWER 7-

In [36]:
import re

In [38]:
text1 = "ImportanceOfRegularExpressionsInPython"
text1

'ImportanceOfRegularExpressionsInPython'

In [40]:
print(re.findall('[A-Z][^A-Z]*', text1))

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

ANSWER 8-

In [46]:
import re

In [54]:
def Seperate(spaces):
    pattern = r'(\d+)([A-Za-z]+)'
    answer = re.sub(pattern, r' \1\2', spaces)
    return answer

In [55]:
text = "RegularExpression1IsAn2ImportantTopic3InPython"
output = Seperate(text)
print(output)

RegularExpression 1IsAn 2ImportantTopic 3InPython

ANSWER 9-

In [56]:
import re

In [102]:
def Data1(words):
    pattern =  re.compile(r"(\w)([0-9])")
    result = re.sub(pattern, r"\1 \2", words)
    result = re.sub( r"(\d)([A-Z])", r"\1 \2", result)
    return result

In [103]:
data = "RegularExpression1IsAn2ImportantTopic3InPython"
Ans = Data1(data)
print(Ans)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

ANSWER 10-

In [104]:
import pandas as pd

In [105]:
file_path = 'go.txt'

In [121]:
df = pd.read_csv(file_path)

In [122]:
df1 = pd.DataFrame(data=df)

In [132]:
df1.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

In [126]:
df1['first_five_letters'] = df['Country'].str.slice(0, 6)

In [127]:
df1

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

QUESTION 11-

In [133]:
import re

In [143]:
def String_match(in_str):
    pattern = re.compile(r'^[a-zA-Z0-9_]+$')
    return bool(pattern.match(in_str))


Input = input("Enter Data: ")
if String_match(Input):
    print("The string is valid.")
else:
    print("The string is invalid.")

Enter Data: Testing123_
The string is valid.

QUESTION 12-

In [2]:
import re
inp_str = input('enter string data = ')
inp_num = input('enter a number = ')
case = re.match(inp_num, inp_str)
if case:
    print('string starts with specific number')
else:
    print('no match')

enter string data = 234qwert
enter a number = 234
string starts with specific number

QUESTION 13-

In [5]:
import re
input_ip = input('Enter IP address = ')
modi_ip = re.sub('\.0*', '.', input_ip)
print(modi_ip)

Enter IP address = 192.168.10.000
192.168.10.

QUESTION 14-

In [43]:
import re

In [44]:
file_path = "dnt.txt"
with open(file_path, 'r') as file:
    txt = file.read()

In [46]:
txt

"' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Countryâ€™."

In [36]:
pattern = r"\b([A-Z][a-z]+ \d{1,2}(?:st|nd|rd|th)? \d{4})\b"
matches = re.findall(pattern, txt)
print(matches)

['August 15th 1947']

QUESTION 15-

In [37]:
import re

In [39]:
string = 'The quick brown fox jumps over the lazy dog.'
search = re.search('fox|dog|horse', string)
if search:
    print("match found")
else:
    print("match not found :( ")

match found

QUESTION 16-

In [40]:
import re

In [42]:
string1 = 'The quick brown fox jumps over the lazy dog.'
check = re.search('\Wfox\W', string1)
if check:
    print('Word found and starts on -', check.start())
else:
    print('no match found')

Word found and starts on - 15

QUESTION 17-

In [44]:
import re

In [47]:
strings = "python exercises, PHP exercises, C# exercises"
substring = 'exercises'
search = re.findall(substring, strings)
if search:
    print('substring found','=', substring)
else:
    print('No substring')

substring found = exercises

QUESTION 18-

In [51]:
import re

In [57]:
strings1 = 'Happy person, Sad person, Angry person'
substring1 = 'person'
x = re.finditer(substring1, strings1)
for match in x:
    print('string \'{}\''.format(substring1), 'found at position', match.span())

string 'person' found at position (6, 12)
string 'person' found at position (18, 24)
string 'person' found at position (32, 38)

QUESTION 19-

In [58]:
import re

In [62]:
date = input('Enter date in yyyy-mm-dd format = ')
z = re.split('-', date)
modi_date = '-'.join(z[::-1])
print("Date in dd-mm-yyyy format is", "=", modi_date)

Enter date in yyyy-mm-dd format = 2023-12-12
Date in dd-mm-yyyy format is = 12-12-2023

QUESTION 20-

In [68]:
import re

In [70]:
def dec(data):
    pattern = re.compile(r'\b\d+\.\d{1,2}\b')
    matches = pattern.findall(data)
    return matches

In [73]:
sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
result = dec(sample_text)
print(result)

['01.12', '145.8', '3.01', '27.25', '0.25']

QUESTION 21-

In [9]:
import re

In [10]:
def string(data):
    pattern = re.compile(r'\b\d+\b')
    matches = pattern.finditer(data)
    
    for match in matches:
        number = match.group()
        position = match.start()
        print(f"Number: {number}, Position: {position}")
        
sample_data = "I got 123 in maths 234 in english and 245 in geo"
string(sample_data)

Number: 123, Position: 6
Number: 234, Position: 19
Number: 245, Position: 38

QUESTION 22-

In [77]:
import re

In [79]:
sample_text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
numero = re.findall('\d+', sample_text)
numero = map(int, numero)
print("Max_value:",max(numero))

Max_value: 950

QUESTION 23-

In [105]:
import re

In [106]:
def regex(int_string):
    pattern = re.sub(r'([a-z])([A-Z])', r'\1 \2', int_string)
    
    return pattern

sample_text = "RegularExpressionIsAnImportantTopicInPython"
answer = regex(sample_text)

In [107]:
print("Expected output :", answer)

Expected output : Regular Expression Is An Important Topic In Python

QUESTION 24-

In [108]:
import re

In [111]:
def testing(text):
    pattern = re.compile(r'[A-Z]+[a-z]+')
    match = pattern.findall(text)
    return match

user_input = input("Enter a string: ")
answer = testing(user_input)

if answer:
    print("Sequence correct:", answer)
else:
    print("Matching sequence not found.")

Enter a string: Aborigibinal
Sequence correct: ['Aborigibinal']

QUESTION 25-

In [ ]:
import re

In [8]:
def duplicate(data):
    pattern = r'\b(\w+)(?:\W+\1\b)+'
    return re.sub(pattern, r'\1', data)
                  
sample_data = "Hello hello world world"
print(duplicate(sample_data))

Hello hello world

QUESTION 26-

In [11]:
import re

In [24]:
def alpha(string):
    pattern = r'.*\w$'
    join = re.match(pattern, string)

    if join:
        print("String ending with alphanumeric character accepted!")
    else:
        print("String doesnt end with alphanumeric")
    
user_input = input("Enter a string: ")
alpha(user_input)

Enter a string: Alphanumeric_123
String ending with alphanumeric character accepted!

QUESTION 27-

In [25]:
import re

In [28]:
def hashtags(data):
    pattern = re.findall(r"#\w+", data)
    return pattern

sample_text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
result = hashtags(sample_text)

print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

QUESTION 28-

In [29]:
import re

In [38]:
def remove(data):
    pattern = r"<U\+[0-9A-F]+>"
    new_text = re.sub(pattern, "", data)
    return new_text

sample_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
result = remove(sample_text)

print("Expected output = ", result)

Expected output =  @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

QUESTION 29-

In [39]:
import re

In [50]:
file_path = "date extraction.txt"
with open(file_path, 'r') as file:
    txt = file.read()

In [51]:
txt

'Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.'

In [54]:
pattern = "\d{2}[\-]\d{2}[\-]\d{4}"
result = re.findall(pattern, txt)
print(result)

['12-09-1992', '15-12-1999']

QUESTION 30-

In [55]:
import re

In [57]:
def removal(str):
    pattern = re.compile(r'\b\w{2,4}\b')
    result = pattern.sub('', str)
    
    return result

sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
answer = removal(sample_text)

In [58]:
answer

' following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.'

# THE END